/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import url('typography.css');
@import url('colors.css');

:root {
    --header-height: 4rem;

    --header-width: 100vw;
    --header-side-padding: 10vw;
}

body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;

    min-height: 120vh;

    background-color: var(--background);
}

header {
    position: fixed;
    width: 100vw;
}

header > .visible-navbar {
    width: calc(var(--header-width) - (2* var(--header-side-padding)));
    height: var(--header-height);

    background-color: var(--background);

    border-left: var(--header-side-padding) solid var(--background);
    border-right: var(--header-side-padding) solid var(--background);

    border-bottom: 0.5px var(--gray) solid;
}

header > .visible-navbar > .navbar-links {
    background-color: cyan;
    width: 100%;
    height: var(--header-height);
}

#page_content {
    border-top: var(--header-height) transparent solid;

    height: 100%;
    min-height: calc(100vh - var(--header-height));

    padding: 0 var(--header-side-padding);
}